#buttons button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#submit {
    margin-top: 2%;
}

#lists {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

header {
    margin-left: 2%;
    margin-top: 2%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#login {
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
}

#insert_table {
    margin-right: 30%;
}

#insert_table div div {
    width: 70%;
}

nav ul span {
    text-align: justify;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 5px;
}

#nav_row #ul_row {
    margin-left: 8%;
}