{% extends 'inventory_main.html' %}

{% block content %}
<form  method="POST">
    {% csrf_token %}
    <div id="insert_table" class="shadow-lg p-3 mb-4 bg-body-tertiary">
        <div class="row mb-3">
            <label for="first_name" class="col-lg-3 col-form-label">Name</label>
            <div class="col-sm-4">
            {{ form.name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="last_name" class="col-lg-3 col-form-label">Price</label>
            <div class="col-sm-4">
            {{ form.price }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="phone" class="col-lg-3 col-form-label">Amount</label>
            <div class="col-sm-4">
            {{ form.amount }}
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Update" class="btn btn-success">
</form>
{% endblock %}