{% extends 'serviceapp/service_main.html' %}

{% block create_service %}
<a href="{% url 'create_service' %}" class="list-group-item list-group-item-action py-2 ripple active">
    <span>Add service</span>
</a>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="insert_table" class="shadow-lg p-3 mb-4 bg-body-tertiary ">
        <div class="row mb-3">
            <label for="name" class="col-lg-3 col-form-label">Name</label>
            <div class="col-lg-4 mb-2">
            {{ form.name }}
            </div>
            <label for="name" class="col-lg-3 col-form-label">Resource</label>
            <div class="col-lg-4">
            {{ form.resource }}
            </div>
        </div>
    </div>
    <input id="submit" type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}
