{% extends 'base.html' %}

{% block title %}
<title>Client</title>
{% endblock %}

{% block client %}
<a class="nav-link active" aria-current="page" href="{% url 'ClientList' %}">Client</a>
{% endblock %}

{% block container %}
<div id="third_row" class="row align-items-start">
    <div class="col-lg-2" >
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4 mb-4">
                    {% block bt_all %}
                    <a href="{% url 'ClientList' %}" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Clients</span>
                    </a>
                    {% endblock %}
                    {% block bt_ins %}
                    <a href="{% url 'ClientCreate' %}" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Add client</span>
                    </a>
                    {% endblock %}
                </div>
            </div>
        </nav>

        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4 mb-4">
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Analytics</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple" >
                        <span>SEO</span>
                    </a>
                </div>
            </div>
        </nav>

        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4 mb-4">
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <span>Filters</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple" >
                        <span>Order</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="col-lg-10">
{% block content %}
        
{% endblock %}
    </div>
</div>
{% endblock %}