{% extends 'staffapp/staff_main.html' %}

{% block all_schedule %}
<a href="{% url 'all_schedule' %}" class="list-group-item list-group-item-action py-2 ripple active">
    <span>Schedule</span>
</a>
{% endblock %}

{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">Previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">Next</a></li>
        {% endif %}
    </ul>
</nav>
<table class="table table-hover text-center collapsing shadow-lg p-3 mb-4 bg-body-tertiary">
    <tr>
        <th>Staff</th>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {% for item in object_list %}
    <tr class='clickable-row' onclick="window.location='{% url 'schedule_detail' item.pk %}'">
        <td>{{ item.id_staff }}</td>
        <td>{{ item.date|date:"d b Y" }}</td>
        <td>{{ item.start_time|time:"H:i" }}</td>
        <td>{{ item.end_time|time:"H:i" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}